@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  width: 100%;
  background-image: url("../images/top_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.search-container input {
  height: 56px;
  width: 40%;
  position: relative;
  border: none;
  border-radius: 24px;
  padding-left: 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  color: #BDBDBD;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.search-container input:before {
  height: 120px;
  width: 120px;
  content: '　';
  position: absolute;
  background-image: url("../images/Vector.png");
}

.search-container input:focus {
  border: none;
  outline: #00447c80 solid 4px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #E5E5E5;
}

.main-content .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 76%;
  padding: 4% 0;
}

.main-content .event h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-content .event h2::before {
  content: '　';
  background-image: url("../images/event_icon.png");
  padding: 12px 12px 24px 12px;
  margin-right: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content .event .event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 48%;
  position: relative;
  background-color: #fff;
  margin: 28px 0;
}

.main-content .event .event-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-flex: 5.5;
      -ms-flex: 5.5;
          flex: 5.5;
  width: 50%;
}

.main-content .event .event-item .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4.5;
      -ms-flex: 4.5;
          flex: 4.5;
  padding: 20px 16px 60px 16px;
  line-height: 140%;
}

.main-content .event .event-item h3 {
  font-weight: 700;
  font-size: 20px;
}

.main-content .event .event-item span {
  font-weight: 700;
  padding-right: 8px;
}

.main-content .event .event-item button {
  position: absolute;
  background-color: #5B9BD5;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 8px 32px;
  border-radius: 16px;
  right: 4%;
  bottom: 4%;
}

.main-content .attractions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.main-content .attractions h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-content .attractions h2::before {
  content: '　';
  background-image: url("../images/attractions_icon.png");
  padding: 12px;
  margin-right: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content .attractions .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 76%;
}

.main-content .attractions .slider .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 350px;
  background-color: #fff;
  padding-bottom: 12px;
  margin: 20px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  -webkit-animation: img-display ease-out 0.3s;
          animation: img-display ease-out 0.3s;
}

.main-content .attractions .slider .slider-item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-content .attractions .slider .slider-item h3 {
  font-weight: 700;
  padding: 16px 20px;
  line-height: 140%;
}

.main-content .attractions .slider .slider-item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5B9BD5;
  padding: 0 20px;
}

.main-content .attractions .slider .slider-item p::before {
  content: '　';
  background-image: url("../images/map_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.main-content .attractions .slider .slider-item:hover {
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.main-content .attractions .slider .slider-item:first-child {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.main-content .attractions .slider .slider-item:nth-child(2) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.main-content .attractions .slider .slider-item:nth-child(3) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.main-content .attractions .slider .slider-item:nth-child(4) {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.main-content .attractions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: #D69F8F;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.main-content .attractions .btn_next {
  right: 8%;
}

.main-content .attractions .btn_back {
  left: 8%;
}

.main-content .attractions .btn_next::after, .main-content .attractions .btn_back::after {
  height: 12px;
  width: 12px;
  position: relative;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-content .attractions .btn_next::after {
  border-right: solid 4px #fff;
  border-top: solid 4px #fff;
  right: 2px;
}

.main-content .attractions .btn_back::after {
  border-left: solid 4px #fff;
  border-bottom: solid 4px #fff;
  left: 2px;
}

.main-content .resturant h2::before {
  content: '　';
  background-image: url("../images/food_icon.png");
  padding: 24px 8px;
  background-size: contain;
}

.more {
  position: relative;
  text-align: right;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  left: 36%;
}

.more::after {
  content: '';
  background-image: url("../images/arrow.png");
  position: relative;
  padding: 20px 100px;
  background-position: center;
  background-repeat: no-repeat;
  right: 28%;
  top: 8px;
}

@-webkit-keyframes img-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes img-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  width: 100%;
  background-image: url("../../images/banner/event_bn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner p {
  font-size: 4vmin;
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 700;
}

.search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
  background: #E5E5E5;
}

.search_bar input {
  height: 56px;
  width: 72%;
  position: relative;
  border: none;
  border-radius: 24px;
  padding-left: 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  color: #BDBDBD;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.search_bar input:focus {
  border: none;
  outline: #00447c80 solid 4px;
}

.select_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #E5E5E5;
}

.select_bar .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76%;
  border-bottom: 1px solid #BDBDBD;
}

.select_bar .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select_bar .inner ul li {
  cursor: pointer;
  padding: 12px;
  text-align: center;
  border-bottom: 8px solid rgba(88, 88, 211, 0);
}

.select_bar .inner .li-selected {
  border-bottom: 8px solid #5B9BD5;
  text-align: center;
}

.select_bar .inner select {
  height: 46px;
  width: 150px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 4px 16px;
  color: #BDBDBD;
  border: none;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #E5E5E5;
}

.result .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 76%;
  padding: 4% 0;
}

.result .event .event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 48%;
  position: relative;
  background-color: #fff;
  margin: 28px 0;
  -webkit-animation: img-display ease-out 0.3s;
          animation: img-display ease-out 0.3s;
}

.result .event .event-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-flex: 5.5;
      -ms-flex: 5.5;
          flex: 5.5;
  width: 50%;
}

.result .event .event-item .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4.5;
      -ms-flex: 4.5;
          flex: 4.5;
  padding: 20px 16px 60px 16px;
  line-height: 140%;
}

.result .event .event-item h3 {
  font-weight: 700;
  font-size: 20px;
}

.result .event .event-item span {
  font-weight: 700;
  padding-right: 8px;
}

.result .event .event-item button {
  position: absolute;
  background-color: #5B9BD5;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 8px 32px;
  border-radius: 16px;
  right: 4%;
  bottom: 4%;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #E5E5E5;
  padding: 20px 0;
}

.btns button {
  margin: 4px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid #DFE3E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #212B36;
}

.btns .btn_select {
  background: #D69F8F;
  border: 1px solid #D69F8F;
  color: #fff;
}

.btns .next_btn img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@keyframes img-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  width: 100%;
  font-family: Noto Sans TC;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 12%;
  background-color: #00457C;
}

.navbar .logo {
  width: 80%;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 2.3vmin;
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #000000;
  padding: 2% 0;
  color: #FFF;
  letter-spacing: 2px;
}
/*# sourceMappingURL=main.css.map */