section {
    @include flexCenter(center, center);
    width: 100%;
    display: flex;
    background: #E5E5E5;
    padding: 100px 0;
    .wrap {
        @include flexCenter(flex-start, center);
        width: 76%;
        flex-wrap: wrap;
        .slider {
            @include flexCenter(center, center);
            flex-direction: column;
            width: 50%;
            .main-img {
                @include flexCenter(center, center);
                width: 100%;
                
                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .preview-imgs {
                @include flexCenter(center, space-between);
                display: flex;
                width: 100%;
                img {
                    width: 30%;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                    margin-top: 4%;
                }
            }
        }
        .content {
            @include flexCenter(flex-start, flex-start);
            flex-direction: column;
            width: 50%;
            padding: 0 4%;
            line-height: 140%;
            h1 {
                font-size: 3.5vmin;
                font-weight: 900;
            }
            p {
                padding: 12px 0;
                span {
                    color: #00457C;
                    font-weight: 700;
                }
            }
            .tag {
                margin-top: 8px;
                span {
                    border: 3px solid #E8D4A2;
                    box-sizing: border-box;
                    border-radius: 20px;
                    padding: 4px 16px;
                    color: #000000;
                    font-weight: 400;
                    margin-right: 8px;
                }
            }
            a {
                background-color: #5B9BD5;
                border-radius: 20px;
                padding: 10px 40px 8px 40px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        .transport {
            margin-top: 4%;
            width: 50%;
            h2 {
                color: #00457C;
                font-weight: 700;
            }
            p {
                line-height: 140%;
            }
        }
        .map {
            width: 50%;
            margin-top: 4%;
        }
    }
    
}

.recommend-slider {
    @include flexCenter(center, center);
    width: 100%;
    display: flex;
    position: relative;
    background: #E5E5E5;
    padding-bottom: 100px;
    .wrap {
        @include flexCenter( space-between,  space-between);
        width: 76%;
        flex-direction: column;
        h2 {
            font-weight: 700;
            color: #000000;
            padding-bottom: 40px;
        }
        h2::before {
            content: '　';
            background-image: url('../../images/recommend-icon.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 3px;
            margin-right: 4px;
        }
    }
    .slider {
        @include flexCenter(center, space-between);
        position: relative;
        .slider-item {
            width: 30%;
            background-color: #fff;
            height: 100%;
            min-height: 350px;
            text-decoration: none;
            a {
                color:#000000;
                text-decoration: none;
            }
            h3 {
                padding: 16px 12px ;
                font-weight: 700;
            }
            p {
                @include flexCenter(center, flex-start);
                padding: 4px 12px 20px 12px;
                color: #5B9BD5;
                font-weight: 400;
            }
            p::before {
                content: '　';
                background-image: url('../../images/map_icon.png');
                background-size: contain;
                background-repeat: no-repeat;
                margin-bottom: 3px;
            }
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                max-height: 250px
            }
        }
    }
    button {
        @include flexCenter(center, center);
        @include size(40px, 40px);
        position: absolute;
        top: 40%;
        background-color: #D69F8F;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
    .btn_next {
        right: 8%;
    }
    .btn_back {
        left: 8%;
    }
    .btn_next::after,.btn_back::after {
        @include size(12px, 12px);
        position: relative;
        content: '';
        transform: rotate(45deg);
    }
    .btn_next::after {
        border-right: solid 4px #fff;
        border-top: solid 4px #fff;
        right: 2px;
    }
    .btn_back::after {
        border-left: solid 4px #fff;
        border-bottom: solid 4px #fff;
        left: 2px
    }
}
#map {
    width: 100%;
    height: 500px;
}